/*
This program is free software: you can redistribute it and/or modify it
under the terms of the GNU General Public License as published by the
Free Software Foundation; either version 3 of the License, or (at your
option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program. If not, see https://www.gnu.org/licenses/.
*/


/* GENERAL PART */

body {
	color: #FFF;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14pt;
	background: #A7B7CA url(background.png) repeat;
	padding: 0;
	margin: 0;
}

a:link, a:visited, a:active {
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	white-space: nowrap;
}

.nobreak {
	white-space: nowrap;
	display: inline-block;
}

.nobreak>* {
	white-space: normal;
}

/* GENERAL FORMS */

input, button, textarea {
	outline: none;
}

input[type=text] {
	padding: 0.5em;
	border-radius: 0.3em;
	border: none;
}

/* OVERRIDING JQUERYUI */

.ui-dialog .ui-dialog-content {
	padding: 0.5em 0;
}

.ui-widget-overlay {
	z-index: 10000;
	background-color: #0006;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
	font-weight: bold;
}

.ui-slider {
	background: #202C3B;
	margin-left: 1em;
}

.ui-slider-vertical {
	margin: 1.2em 0.65em 0 1em;
}

.ui-slider .ui-slider-handle {
	width: 2.2em;
	height: 2.2em;
}

.ui-slider:not(.ui-slider-vertical) .ui-slider-handle {
	top: -0.7em;
	margin-left: -1.1em;
}

.ui-slider-vertical .ui-slider-handle {
	left: -0.7em;
	margin-bottom: -1.1em;

}

.ui-slider .ui-slider-range {
	background: #202C3B;
}

/* CONNECTION DIALOG */

#connectionPanel.ui-dialog-content {
	padding: 0.5em 2em;
}

#socketUrlField {
	text-align:center;
	padding-top: 0.9em;
}

#socketUrlField input {
	box-sizing: border-box;
	margin-top: 0.5em;
	width: 100%;
}

#autoconnectField {
	margin-top: 0.8em;
}

#autoconnectField input {
	width: 1em;
	height: 1em;
	vertical-align: middle;
	position: relative;
    bottom: 1px;
}

#autoconnectField label, #autoconnectField input {
	cursor: pointer;
}

.connectionDialog .ui-dialog-titlebar-close {
    visibility: hidden;
}

.connectionDialog  .ui-dialog-titlebar {
	text-align: center;
}

/* MENU */

#menu {
	position: absolute;
	min-height: 35em;
	height: 100vh;
	width: 14.5em;
	top: 0;
	left: 0;
	z-index: 9999;
	text-align: center;
	background: #3B4C61EE;
	padding: 0 3.75em 0 1.9em;
}

#menu.disabled {
	display: none !important;
}

#menu.collapsed {
	left: -16.7em;
}

#menu button.ui-widget {
	font-weight: bold;
	margin-bottom:0.2em;
	width: 98%;
	margin-right: 2%;
	box-sizing: border-box;
}

#menu button.ui-widget.halfsize {
	width: 48%;
}

#menu .copyright {
	box-sizing: border-box;
    position: absolute;
    bottom: 0;
	padding: 0.5em;
	background: #3B4C61;
	font-size: 0.8em;
	left: 0;
	width: 100%;
}

#menu h1 {
	margin-bottom: 1em;
	font-size: 1.8em;
}

.buttonGroup {
	margin-top: 2em;
}

.buttonGroup .header {
	margin-bottom: 0.8em;
	white-space: nowrap;
	text-align: center;
	padding-right: 2%;
}

.buttonGroup .header>*, #menu .buttonGroup .header button.ui-widget {
	display: inline-block;
	width: 60%;
	margin: 0;
	box-sizing: border-box;
	vertical-align: middle;
}

.buttonGroup .header h2 {
	font-size: 16pt;
}

#menu .buttonGroup .header button.ui-widget {
	 width: 20%;
	 text-align: center;
	 margin-bottom: 0.1em;
}

#closeMenuAction, #openMenuAction {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 0.7em;
	font-size: 5em;
	line-height: 100vh;
	cursor: pointer;
	color: #DDD;
}
#closeMenuAction:hover, #openMenuAction:hover {
	color: #FFF;
	background-color: #0002;
}
#closeMenuAction {
	display: none;
}

/* GENERIC SHIELDS */

.shieldDialog {
	z-index: 97;
}

.shieldGroup {
	border: 0.15em solid #FFF;
	border-radius: 0.3em;
	padding: 0.3em;
	margin-bottom: 0.5em;
}

.shieldGroup:last-child {
	margin-bottom: 0;
}

.shieldGroup .label {
	font-weight: bold;
	font-size: 0.9em;
	padding-bottom: 0.4em;
	margin-left: 0.2em;
	text-align: left;
	text-align-last: left;
}

.shieldGroup button.ui-widget {
	font-weight: bold;
	font-size: 0.9em;
	padding: 0.6em 0;
	text-align-last: center;
}

.ui-dialog .ui-dialog-titlebar-close.helpButton {
	right: 1.7em;
}

/* GENERIC PUSHBUTTONS */

.pushButton, .pushButton.ui-state-active {
	display: inline-block;
	width: 3.8em;
	border: none;
	background: transparent;
	text-align: center;
	margin-bottom: 0.4em;
}

.pushButton>.label {
	text-align: center;
	text-align-last: center;
	font-size: 0.7em;
	margin: 0;
	padding-bottom: 0.15em;
}

.pb, .pb.ui-state-active {
	display: inline-block;
	background: linear-gradient(328deg, rgba(42,42,42,1) 0%, rgba(47,47,47,1) 83%);
	border: 0.2em solid #222;
	width: 4.5em;
	height: 4.5em;
	cursor: pointer;
	font-size: 0.7em;
	border-radius: 0.3em;
	text-align: center;
	color: #222;
	font-weight: normal;
}

.pushButton.guarded .pb {
	border-color: #A8111D;
}

.pb:hover, .pb.ui-state-active:hover {
	background: linear-gradient(328deg, rgba(57,57,57,1) 0%, rgba(62,62,62,1) 83%);
}

.pb>span {
	display: inline-block;
	margin-top: 0.55em;
	box-sizing: border-box;
}

.pb .main {
	border: 0.15em solid #222;
	border-radius: 0.1em;
	padding: 0.2em 0.2em 0.1em 0.2em;
	width: 80%;
}

.pb .main.noBorder {
	border-color: transparent;
}

.pb.ui-state-active .main {
	color: #FFF;
	border-color: #FFF;
	text-shadow: 0 0 0.1em #FFF;
}

.pushButton.ui-state-active .pb .secondary {
	color: #FFDF4F;
	text-shadow: 0 0 0.1em #FFDF4F;
}

.pushButton.ui-state-active .pb .secondary.activeGreen {
	color: #2BEC24;
	text-shadow: 0 0 0.1em #2BEC24;
}

.pushButton .pb.ui-state-active .main.activeBlue {
	color: #54BEFF;
	border-color: #54BEFF;
	text-shadow: 0 0 0.1em #54BEFF;
}

.pushButton .pb.ui-state-active .main.activeRed {
	color: #E01223;
	border-color: #E01223;
	text-shadow: 0 0 0.1em #E01223;
}

/* INDIVIDUAL SHIELDS */

.fcuValue {
	font-family: monospace;
	font-size: 1.4em;
	font-weight: bold;
	text-align: right;
	color:  #FF8D00;
	background-color: #2D1900;
	box-shadow: inset 0 0 0.3em #FF8D00;
	display: inline-block;
	vertical-align: middle;
	padding: 0.2em 0.5em;
	height: 1.2em;
	border: 0.1em solid #202C3B;
	border-radius: 0.3em;
	cursor: pointer;
}

#sh_gear .shieldGroup {
	display: inline-block;
	width: 18em;
	vertical-align: top;
	text-align: center;
	box-sizing: border-box;
	margin-right: 0.3em;
	margin-left: 0.3em;
}

/* hint: only the selected autobrake button should display the DECEL light */
#autobrakeGroup .pushButton.ui-state-active .pb .secondary.activeGreen {
	color: #222;
	text-shadow: none;
}
#autobrakeGroup .pushButton.ui-state-active .pb.ui-state-active .secondary.activeGreen {
	color: #2BEC24;
	text-shadow: 0 0 0.1em #2BEC24;
}

#brakefanPushButton {
	border-left: 0.15em solid #FFF;
	margin-left: 0.3em;
	padding-left: 0.6em;
}

#gearGroup {
	width: 7.4em;
}

#gearGroup button {
	box-sizing: border-box;
	width: 32%;
	margin-right: 2%;
}

#gearGroup button:last-child {
	margin-right: 0;
}

#sh_fuel .shieldGroup {
	display: inline-block;
	text-align: center;
	width: 12em;
}

#sh_fuel .shieldGroup>.label {
	font-size: 0.7em;
	text-align: center;
	text-align-last: center;
}

#sh_om .shieldGroup {
	width: 12.2em;
	display: inline-block;
	vertical-align: top;
}

#shieldGroupOverheadMisc1 .pushButton {
	margin-bottom: 0;
	width: 50%;
	box-sizing: border-box;
}

#shieldGroupOverheadMisc2 {
	text-align: center;
}

#shieldGroupOverheadMisc2 button {
	padding-left: 1em;
	padding-right: 1em;
}

#shieldGroupWipers>div .label {
	font-size: 0.8em;
	width: 1em;
	display: inline-block;
}

#shieldGroupWipers>div:last-child {
	margin-top: 0.5em;
	margin-bottom: 0.2em;
}

#shieldGroupWipers .controlgroup button {
	width: 4em;
}

/* Setting the wipers to OFF does not set the circuit power to zero, so we need to use some CSS magic here */
#shieldGroupWipers .controlgroup.ui-state-active {
	background: transparent;
	border: none;
}
#shieldGroupWipers .controlgroup:not(.ui-state-active) button {
	border: 1px solid #333;
    background: #333 url(libs/jquery-ui/images/ui-bg_inset-soft_30_333_1x100.png) 50% 50% repeat-x;
}
#shieldGroupWipers .controlgroup:not(.ui-state-active) button:first-child {
	border: 1px solid #1bc215;
    background: #1bc215 url(libs/jquery-ui/images/ui-bg_highlight-soft_40_1bc215_1x100.png) 50% 50% repeat-x;
}

#scratchpad {
	font-family: monospace;
	background-color: #111;
	font-size: 1.4em;
	font-weight: bold;
	padding: 0.2em 0;
	height: 1.2em;
	border: 0.1em solid #202C3B;
	text-align: center;
	overflow: hidden;
	border-radius: 0.1em;
	margin-bottom: 0.4em;
}

#scratchpadButtons {
	text-align: center;
}

#scratchpadButtons button {
	width: 4em;
	height: 2.5em;
	margin-bottom: 0.3em;
	margin-right: 0.3em;
}
#scratchpadButtons button:last-child {
	margin-right: 0;
}

#sh_baro {
	text-align: center;
}

#sh_baro .fcuValue {
	width: 2.5em;
	margin-right: 0.3em;
}

#button_qnhUnits {
	display: inline-block;
	vertical-align: middle;
	font-size: 0.6em;
	height: 3.9em;
	width: 3.9em;
}

#controlgroupBaroMode {
	display: block;
	margin-top: 0.3em;
}

#controlgroupBaroMode button {
	width: 33.33%;
	margin: 0;
}

#sh_fcub .shieldGroup {
	text-align: center;
}

#sh_fcub button {
	width: 4em;
}

#controlgroupAutopilot {
	box-sizing: border-box;
	margin-bottom: 0.4em;
}

#controlgroupLocAppr {
	margin-right: 0.6em;
}

#controlgroupAutopilot button:nth-child(2) {
	width: 4.6em;
}

.efisShield .shieldGroup {
	display: inline-block;
	vertical-align: top;
}

.shieldGroupNdModes {
	box-sizing: border-box;
	text-align: center;
	width: 22.5em;
}

.shieldGroupNdModes .controlgroup {
	margin-bottom: 0.3em;
}

.shieldGroupNdModes .controlgroupEfisFilter {
	margin-bottom: 1em;
}

.shieldGroupNdModes .controlgroupNdRange {
	margin-bottom: 0;
}

.shieldGroupNdModes .controlgroupEfisFilter button, .shieldGroupNdModes .controlgroupNdMode button {
	width: 4.8em;
}

.shieldGroupNdModes .controlgroupNdRange button {
	width: 4em;
}

.shieldGroupNavSelector, .shieldGroupEfisExtras {
	width: 10.2em;
	text-align: center;
}

.shieldGroupNavSelector button {
	box-sizing: border-box;
	width: 3.7em;
}

.shieldGroupEfisExtras button.ui-widget {
	padding-left: 0.62em;
	padding-right: 0.62em;
}

#sh_fcu .shieldGroup {
	box-sizing: border-box;
	width: 7.6em;
	display: inline-block;
	height: 7.6em;
	vertical-align: top;
}

#sh_fcu .fcuValue {
	width: 3.4em;
	display: block;
	text-align: center;
	margin: auto;
}

.pushPullGroup {
	width: 100%;
	margin: auto;
	margin-top: 0.3em;
	text-align: center;
}

.button_push, .button_pull {
	width: 3.2em;
	height: 2.4em;
	text-indent: -9999px;
	overflow: hidden;
}

.button_push::after, .button_pull::after {
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	background-image: url('pull.svg');
	background-size: 1.8em 1.8em;
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	width:3.2em;
	height: 2.4em;
}

.button_push::after {
	background-image: url('push.svg');
}

#shieldGroupFcuUnits {
	padding-top: 0.6em;
}

#shieldGroupFcuUnits button {
	display: block;
	font-size: 0.8em;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0.6em;
	border-radius: 2em;
	padding: 0.62em 0 0.48em 0;
}

#sh_warn .shieldGroup {
	text-align: center;
}

#sh_warn button {
	font-size: 0.7em;
	line-height: 2em;
	width: 5.5em;
	height:5.5em;
	margin-right: 0.8em;
	border-width: 0.2em;
	border-color: #202C3B;
}

#sh_warn button:last-child {
	margin-right: 0;
}

#sh_surf button {
	width: 6em;
	text-align: center;
}

#sh_surf .shieldGroup {
	display: inline-block;
	width: 8.5em;
	height: 12.5em;
	text-align: center;
	vertical-align: top;
}

#sh_surf .label {
	display: block;
	text-align: left;
}

#spoilerButtons, #spoilerSliderContainer {
	display: inline-block;
	vertical-align: top;
}

#spoilerButtons .controlgroupVertical {
	display: block;
	margin-top: 1.3em;
}

#spoilerSlider {
	height: 8.4em;
}

#flapsButtons button {
	width: 8em;
}

#button_autoland.ui-state-active {
	color: #000;
	background: #FF1528;
	border-color: #202C3B;
}

#button_masterwarn.ui-state-active {
	color: #FF1528;
	background: #000;
	border-color: #202C3B;
}

#button_mastercaut.ui-state-active {
	color: #FFDF4F;
	background: #000;
	border-color: #202C3B;
}

#sh_sim .shieldGroup {
	text-align: center;
}

#sh_sim button {
	width: 80%;
}

#sh_adir .shieldGroup {
	display: inline-block;
}

#sh_adir .shieldGroup>* {
	vertical-align: middle;
}

#sh_adir button {
	margin-top: 0.6em;
	width: 3.3em;
	height: 3.3em;
}

#sh_apu .shieldGroup {
	text-align: center;
}

#sh_air .shieldGroup {
	display: inline-block;
}

#shieldGroupPackFlow,  #shieldGroupXbleed {
	text-align: center;
	min-width: 13.55em;
}

#sh_air .controlgroup button {
	width: 4em;
}

#sh_eng .shieldGroup {
	width: 14em;
	display: inline-block;
	text-align: center;
}

#sh_eng button {
	height: 3.5em;
	width: 5em;
}

#shieldGroupEngMaster button {
	width: 4em;
	height: 4em;
}

#shieldGroupEngMaster button:last-child {
	margin-left: 1.5em;
}

#sh_lti .shieldGroup {
	display: inline-block;
	height: 9.5em;
	width: 5em;
	vertical-align: top;
	text-align: center;
}

#sh_lti .shieldGroup .label {
	height: 2em;
	text-align: center;
	text-align-last: center;
	margin-bottom: 0.5em;
}

#sh_lti button {
	width: 4.5em;
}

#sh_ltn .shieldGroup {
	display: inline-block;
	width: 21em;
	box-sizing: border-box;
	line-height: 2.5em;
}

#sh_ltn .shieldGroup:first-child {
	margin-right: 0.5em;
}

#sh_ltn .sliderGroup .label {
	font-size: 0.8em;
	display: inline-block;
	width: 9em;
	box-sizing: border-box;
	padding-bottom: 0.2em;
}

#sh_ltn .offset_percent_slider {
	display: inline-block;
	width: 10em;
	box-sizing: border-box;
	top: 0.1em;
}

/* HELP DIALOGS */

.helpDialog.ui-dialog-content {
	font-size: 12pt;
	line-height: 1.5em;
	padding: 0 1em;
}

.helpDialog h4 {
	margin: 1.5em 0 0.2em 0;
}

.helpDialog h4:first-child {
	margin-top: 0.5em;
}

.helpDialog p {
	margin-top: 0;
}

.helpDialog .numericText {
	font-family: monospace;
	font-weight: bold;
}

.helpDialog em {
	text-decoration: underline;
	font-style: normal;
}

#helpDialogAbout.ui-dialog-content {

}

#helpDialogAbout .repositoryLink, #helpDialogAbout .copyright {
	display: block;
	text-align: center;
	margin-top: 1.5em;
}

#helpDialogAbout .thirdPartyLinks a {
	font-weight: normal;
}